*, *::before, *::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    overflow-x: hidden;
}

:root{
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper{
    width:100vw;
    height:100vh;
    color: var(--colorLight2);
    background: linear-gradient(160deg, rgb(64, 128, 180) 0%, rgb(11, 36, 100) 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 90%;
    margin:0 auto;
    margin-top: 4rem; 
    margin-bottom: 2rem;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(215, 215, 213, 0.558);
    border-radius: 4px;
}

/* .weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 4rem; 
} */

.btn{
    all: unset;   /* remove defailt properties*/
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;

}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grant-location-container{
    display: none;
}

.grant-location-container.active{
    display:flex;

}

.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight:500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display: none;
    margin-top: 15px;
}

.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.75rem;
    margin-bottom: 1rem;
}

.name p{
    font-size: 2rem;
}

.user-info-container img{
    width: 90px;
    height: 90px;
}

.name img{
    width: 30px;
    height: 30px;
}

.user-info-container p:first-of-type{
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: capitalize;
}

.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}


.parameter-container{
    width: 600px;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}

.parameter{
    width: 40%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(219, 226, 239, 0.505);
    border-radius: 10px;
    padding: 1rem;
    gap: 6px 0; 
    align-items: center;
}


.parameter img{
    width: 50px;
    height: 50px;
}


.parameter p:first-of-type{
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 600;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    gap: 0 10px;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgba(219, 226, 239, 0.5);
    
}
.form-container input::placeholder{
    color: whitesmoke;
}

.form-container input:focus{
    outline-style: solid;
    outline-width: 2px;
    outline-color: whitesmoke;
}

.form-container button{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.errorImage{
    transform: scale(0.6);
    margin-top: -5rem;
    margin-bottom: -4rem;
}

.user-error{
    display: none;    
}
.error-text{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3rem;
    color: rgba(245, 245, 245, 0.845);
}
.user-error.active{
    display: flex;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .parameter-container{
      display: flex;
      flex-direction: column;
      padding-bottom: 3rem;
    }
    .parameter{
        margin-bottom: 10px;
    }
  }